<!DOCTYPE html>
<html>
<head>
  <title>
    {% block thetitle %}Werkint Webapp: {% block title %}{% endblock %}{% endblock %}
  </title>
  <link rel="stylesheet" href="/res/normalize.css"/>
  <link rel="stylesheet" href="/res/styles.css"/>
</head>
<body>
<div class="layout_cont">
  <div class="header">
    <h1>Werkint WebApp</h1>
    <div class="menu">
      <a href="/">Home</a>
      <a href="/packages">Package list</a>
      <a href="/login">Login</a>
    </div>
  </div>
  <div class="body">
    {% block body %}{% endblock %}
  </div>
</div>
</body>
</html>